<div class="box box-primary">

    <div class="box-header with-border">
      <h3 class="box-title" style="padding-top: 80px; padding-bottom: 10px; text-align: center; color:rgb(12, 14, 17) ;">Đăng ký tài khoản</h3>
    </div>

    <form [formGroup]="registerForm" (submit)="createUser()" novalidate>
      <div class="box-body col-xs-offset-3">
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group ">
              <label>Tên đăng nhập</label>
              <input type="text" class="form-control" formControlName="username" placeholder="Tên đăng nhập">
                <app-control-messages [control]="registerForm.get('username')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Mật Khẩu</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Mật khẩu"
               >
                <app-control-messages [control]="registerForm.get('password')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Xác nhận mật khẩu</label>
              <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="passwordAgain"
             >
              <app-control-messages [control]="registerForm.get('passwordAgain')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Vai trò</label>
              <select class="form-control" formControlName="groupUserId">
                <option *ngFor="let role of roles " value={{role.key}}>{{role.value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer text-center">
        <button [routerLink]="['/login']" class="btn btn-default">Hủy</button>
        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success">Đăng kí</button>
      </div>
    </form>

  </div>
  