<div class="breadcrum ng-scope">
    <div class="container">
        <div class="breadcrum-line"><a  routerLink="/home">Trang chủ</a><a routerLink="/sub-pitch">Thống kê doanh thu tháng</a></div>
    </div>
</div>

<div class="box box-primary">
    <div class="container">
        <div class="heading-block">
            <p class="title-box text-center"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                Thống kê doanh thu</p>
        </div>
    </div>
  <form [formGroup]="dateForm" (submit)="drawChart()" novalidate>
    <div class="box-body">
        <div class="row">
            <label>Chọn sân bóng</label>
            <div class="col-sm-4 form-group" *ngIf="isPitcher()">
                <select formControlName="pitchId" style="height: 34px;" class="form-control" (change)="getPitchId($event.target.value)"  name="pitchId" [(ngModel)]="pitchId">
                    <option *ngFor="let pitch of listPitch" [value]="pitch.id">{{pitch.name}}</option>
                </select>
            </div>
        </div>
      <div class="row">
        <div class="col-md-offset-2 col-sm-3">
          <div class="form-group">
            <input type="text" [bsConfig]="bsConfig" bsDatepicker  class="form-control" placeholder="Tu"
              [maxDate]="maxDate" formControlName="datePre">
          </div>
        </div>
        <div class="col-sm-1 text-center">
          <div class="form-group">
            <label>Và</label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <input type="text" [bsConfig]="bsConfig" bsDatepicker  class="form-control" placeholder="Den"
              [maxDate]="maxDate" formControlName="dateAfter">
          </div>
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-success">OK</button>
        </div>
      </div>
    </div>
  </form>

</div>

<div *ngIf="checkData">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType"></canvas>
    </div>
    <div  *ngIf="checkData">
      <h3 style="padding-left: 50px; color: #cc2895;">Tổng doanh thu tháng {{this.dateTruoc}}: {{this.total1}} VNĐ</h3>
      <h3 style="padding-left: 50px; color: #ada2aa;">Tổng doanh thu tháng {{this.dateSau}}: {{this.total2}} VNĐ</h3>
    </div>
</div>
