<div class="box box-primary">

    <div class="box-header with-border">
      <h3 class="box-title">Thêm mới</h3>
    </div>
  
    <form [formGroup]="addPitchForm" (submit)="addPitch()" novalidate>
      <div class="box-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Tên sân bóng</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Tên sân bóng"
                [ngClass]="{ 'is-invalid': f.name.errors }">
            </div>
            <div class="form-group">
                <label>Giới thiệu</label>
                <input type="text" class="form-control" formControlName="description" placeholder="Giới thiệu"
                  [ngClass]="{ 'is-invalid': f.description.errors }">
              </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email" placeholder="Email"
                [ngClass]="{ 'is-invalid': f.email.errors }">
                <app-control-messages [control]="addPitchForm.get('email')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Địa chỉ</label>
              <input type="text" class="form-control" formControlName="address" placeholder="Địa chỉ"
                [ngClass]="{ 'is-invalid': f.address.errors }">
            </div>
            <div class="form-group">
              <label>Quận huyện</label>
              <select class="form-control" formControlName="district"
                [ngClass]="{ 'is-invalid': f.district.errors }">
                <option *ngFor="let district of district " value={{district.key}}>{{district.value[0]}}</option>
              </select>
            </div>
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Quận huyện</label>
                <div class="col-sm-10">
                    <select name="parentId" class="form-control" ng-model="genre.parentId"
                        ng-options="option.id as option.name for option in parentCategories">
                        <option value="">Quận huyện</option>
                    </select>
                    <input type="hidden" name="parentId" ng-model="genre.parentId" />
                </div>
            </div> -->
            <div class="form-group">
              <label>Trang web</label>
              <input type="text" class="form-control" formControlName="website" placeholder="Trang web"
                [ngClass]="{ 'is-invalid': f.website.errors }">
            </div>
            <div class="form-group">
                <label>Ảnh đại diện</label>
                <input type="text" class="form-control" formControlName="avatar" placeholder="Ảnh đại diện"
                  [ngClass]="{ 'is-invalid': f.avatar.errors }">
              </div>
            <div class="form-group">
              <label>Trạng thái</label>
              <select class="form-control" formControlName="status" [ngClass]="{ 'is-invalid': f.gender.errors }">
            </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Ngày tạo</label>
              <input type="text" class="form-control" formControlName="createTime" placeholder="Ngày tạo"
                [ngClass]="{ 'is-invalid': f.createTime.errors }">
            </div>
            <div class="form-group">
              <label>Người tạo</label>
              <input type="text" class="form-control" formControlName="createBy" placeholder="Người tạo" [ngClass]="{ 'is-invalid': f.createBy.errors }">
            </div>
            <div class="form-group">
              <label>Số điện thoại</label>
              <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Số điện thoại"
                [ngClass]="{ 'is-invalid': f.phoneNumber.errors }">
                <app-control-messages [control]="addPitchForm.get('phoneNumber')"></app-control-messages>
            </div>
          </div>
        </div>
        <!-- 
  
        <div class="form-group">
                <label class="col-sm-2 control-label">Hình ảnh</label>
                <div class="col-sm-10">
                    <button class="btn btn-default" ng-click="chooseImage()" type="button">Chọn ảnh</button>
                    <img ng-src="{{genre.image}}" width="100" />
                </div>
            </div>-->
      </div> 
      <div class="box-footer text-center">
        <button [routerLink]="['/pitch']" class="btn btn-default">Hủy</button>
        <button type="submit" [disabled]="addPitchForm.invalid" class="btn btn-success">Lưu</button>
      </div>
    </form>
  
  </div>
