<div class="box box-primary">

    <div class="box-header with-border">
      <h3 class="box-title">Thêm mới</h3>
    </div>
  
    <form [formGroup]="addUserForm" (submit)="addUser()" novalidate>
      <div class="box-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Tên đăng nhập</label>
              <input type="text" class="form-control" formControlName="username" placeholder="Tên đăng nhập"
              >
                <app-control-messages [control]="addUserForm.get('username')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email" placeholder="Email"
                >
                <app-control-messages [control]="addUserForm.get('email')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Họ</label>
              <input type="text" class="form-control" formControlName="firstName" placeholder="Họ"
                >
                <app-control-messages [control]="addUserForm.get('firstName')"></app-control-messages>
            </div>
            <div class="form-group">
                <label>Tên</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Tên"
                 >
                 <app-control-messages [control]="addUserForm.get('lastName')"></app-control-messages>
              </div>
            <div class="form-group">
              <label>Vai trò</label>
              <select class="form-control" formControlName="groupUserId"
               >
                <option *ngFor="let role of roles1 " value={{role.key}}>{{role.value[0]}}</option>
              </select>
            </div>
           
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Địa chỉ</label>
              <input type="text" class="form-control" formControlName="address" placeholder="Địa chỉ"
                >
                <app-control-messages [control]="addUserForm.get('address')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Giới tính</label>
              <select class="form-control" formControlName="gender" >
                <option *ngFor="let gender1 of genders " value={{gender1.key}}>{{gender1.value[0]}}</option>
            </select>
            </div>
            <div class="form-group">
              <label>Mật Khẩu</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Mật khẩu"
               >
                <app-control-messages [control]="addUserForm.get('password')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Xác nhận mật khẩu</label>
              <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="passwordAgain"
             >
              <app-control-messages [control]="addUserForm.get('passwordAgain')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Hình ảnh</label>
              <input type="text" class="form-control" formControlName="imageUrl">
            </div>
            <div class="form-group">
              <label>Số điện thoại</label>
              <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Số điện thoại"
                >
                <app-control-messages [control]="addUserForm.get('phoneNumber')"></app-control-messages>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer text-center">
        <button [routerLink]="['/users']" class="btn btn-default">Hủy</button>
        <button type="submit" [disabled]="addUserForm.invalid" class="btn btn-success">Lưu</button>
      </div>
    </form>
  
  </div>
  