<div class="box box-primary">

    <div class="box-header with-border">
      <h3 class="box-title">Cập nhật thông tin sân con</h3>
    </div>
  
    <form [formGroup]="editSubPitchForm" (submit)="editSubPitch()" novalidate>
      <div class="box-body col-xs-offset-3">
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group">
              <label>Tên sân con</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Tên sân con"
                [ngClass]="{ 'is-invalid': f.name.errors }">
                <app-control-messages [control]="editSubPitchForm.get('name')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Kiểu sân</label>
              <input type="text" class="form-control" formControlName="type" placeholder="Kiểu sân">
                <app-control-messages [control]="editSubPitchForm.get('type')"></app-control-messages>
            </div>
            <div class="form-group">
              <label>Kiểu sân</label>
                  <select name="status" formControlName="status" required="" class="form-control">
                      <option *ngFor="let l of status" [value]="l.key">{{ l.value }}</option>
                  </select>
          </div>
          </div>
        </div>
      </div>
      <div class="box-footer text-center">
        <button [routerLink]="['/sub-pitch']" class="btn btn-default">Hủy</button>
        <button type="submit" [disabled]="editSubPitchForm.invalid" class="btn btn-success">Lưu</button>
      </div>
    </form>
  
  </div>
  