<div class="top-banner-box top-banner-box-doi">
  <div class="container">
      <p class="page-title"></p>
      <div class="team-banner-btn-container">
      </div>
  </div>
</div>
<div class="box box-primary">
  <div class="box-header with-border text-center" >
    <h3 class="box-title">Đội bóng của tôi</h3>
  </div>

  <form [formGroup]="myTeamForm"  novalidate>
    <div class="col-md-3">
      <div class="img-profile" title="Tải lên một hình ảnh đại diện">
          <img id="profile-avatar" class="media-object" width="100%"
               src="assets/images/Barcelona.png"
               alt="avatar">
      </div>
    </div>
    <div class="box-body ">
      <div class="row">
        <div class="col-sm-9 ">
          <div class="form-group">
            <label>Tên đội bóng</label>
              <select *ngIf="listTeamUser"  (change)="getTeamById($event.target.value)" class="form-control" name="teamId" formControlName="teamId">
                 <option [ngValue]="0">Chọn đội bóng</option>
                 <option *ngFor="let item of listTeamUser" [value]="item.teamId">{{item.teamName}}</option>
              </select>
         </div>
          <div class="form-group">
            <label>Đội trưởng</label>
            <input type="text" class="form-control" formControlName="createBy" placeholder="" disabled>
          </div>
          <div class="form-group">
            <label>Cấp độ</label>
            <input type="text" class="form-control" formControlName="level" placeholder="" disabled>
          </div>
          <div class="form-group">
              <label>Tuổi từ </label>
              <input type="text" class="form-control" formControlName="ageFrom" placeholder="" disabled>
          </div>
          <div class="form-group">
              <label>Tuổi đến</label>
              <input type="text" class="form-control" formControlName="ageTo" placeholder="" disabled>
          </div>
          <div class="form-group">
            <label>Thời gian đá</label>
            <input type="text" class="form-control" formControlName="startTime" placeholder="" disabled>
          </div>
          <div class="form-group">
            <label>Ngày trong tuần</label>
            <input type="text" class="form-control" formControlName="dateOfWeek" placeholder="" disabled>
          </div>
          <div class="form-group">
            <label>Lời giới thiệu</label>
            <input type="text" class="form-control" formControlName="description" placeholder="" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer text-center">
      <button [routerLink]="['/home']" class="btn btn-default">Quay lại</button>
      <button (click)="member()" class="btn btn-success">Thành viên</button>
      <button *ngIf="this.getId === this.userId" (click)="edit()"  class="btn btn-success">Cập nhật đội</button>
    </div>
  </form>
</div>
